### Football Data Aggregator
aggregates football results by 2 weeks, month, year

In [2]:
import pandas as pd
import numpy as np

In [3]:
rc = pd.read_csv('results_clean.csv', parse_dates=["date"])
rc.drop(["city", "country"],inplace=True, axis=1)
rc.head()

,date,home_team,away_team,home_score,away_score,tournament,neutral,winner,winner_loc
0,2010-03-03,Austria,Denmark,2,1,Friendly,False,Austria,Home
1,2010-03-03,Belgium,Croatia,0,1,Friendly,False,Croatia,Away
2,2010-03-03,France,Spain,0,2,Friendly,False,Spain,Away
3,2010-03-03,Malta,Finland,1,2,Friendly,False,Finland,Away
4,2010-03-03,Poland,Bulgaria,2,0,Friendly,False,Poland,Home

In [12]:
rc["home_win"] = rc["home_team"] == rc["winner"]
rc["away_win"] = rc["away_team"] == rc["winner"]
rc.head()

,date,home_team,away_team,home_score,away_score,tournament,neutral,winner,winner_loc,home_win,away_win,year_month,games_played
0,2010-03-03,Austria,Denmark,2,1,Friendly,False,Austria,Home,True,False,2010-03,1
1,2010-03-03,Belgium,Croatia,0,1,Friendly,False,Croatia,Away,False,True,2010-03,1
2,2010-03-03,France,Spain,0,2,Friendly,False,Spain,Away,False,True,2010-03,1
3,2010-03-03,Malta,Finland,1,2,Friendly,False,Finland,Away,False,True,2010-03,1
4,2010-03-03,Poland,Bulgaria,2,0,Friendly,False,Poland,Home,True,False,2010-03,1

In [9]:
rc["year_month"] = rc["date"].apply(lambda x: str(x.year) +"-"+ "{:02d}".format(x.month))
rc["games_played"] = 1

home = rc.groupby(["home_team", "year_month"]).sum().add_suffix('').reset_index()
away = rc.groupby(["away_team", "year_month"]).sum().add_suffix('').reset_index()
vict = rc.groupby(["winner", "year_month"]).sum().add_suffix('').reset_index()

comb = home.rename(columns={"home_team":"team"}).append(away.rename(columns={"away_team":"team"}))
comb = comb.groupby(["team", "year_month"]).sum().add_suffix('').reset_index()
comb

,team,year_month,home_score,away_score,neutral,home_win,away_win,games_played
0,Austria,2010-03,2,1,0,1,0,1
1,Austria,2010-05,0,1,0,0,1,1
2,Austria,2010-10,4,4,0,0,0,1
3,Austria,2010-11,1,2,0,0,1,1
4,Austria,2011-02,3,1,0,1,0,1
...,...,...,...,...,...,...,...,...
1016,Sweden,2020-11,8,3,0,3,0,3
1017,Sweden,2021-03,1,0,0,1,0,1
1018,Sweden,2021-05,2,0,0,1,0,1
1019,Sweden,2021-06,4,2,2,2,0,3
1020,Sweden,2021-09,4,2,0,2,0,2

In [ ]:
comb.to_csv("results_month.csv")