### Football Data Aggregator
aggregates football results by 2 weeks, month, year

In [1]:
import pandas as pd
import numpy as np

In [5]:
rc = pd.read_csv('results_clean.csv', parse_dates=["date"])
rc.drop(["city", "country"],inplace=True, axis=1)
rc.head()

,date,home_team,away_team,home_score,away_score,tournament,neutral,winner,winner_loc
0,2010-03-03,Austria,Denmark,2,1,Friendly,False,Austria,Home
1,2010-03-03,Belgium,Croatia,0,1,Friendly,False,Croatia,Away
2,2010-03-03,France,Spain,0,2,Friendly,False,Spain,Away
3,2010-03-03,Malta,Finland,1,2,Friendly,False,Finland,Away
4,2010-03-03,Poland,Bulgaria,2,0,Friendly,False,Poland,Home

In [3]:
rc["home_win"] = rc["home_team"] == rc["winner"]
rc["away_win"] = rc["away_team"] == rc["winner"]
rc.head()

,date,home_team,away_team,home_score,away_score,tournament,neutral,winner,winner_loc,home_win,away_win
0,2010-03-03,Austria,Denmark,2,1,Friendly,False,Austria,Home,True,False
1,2010-03-03,Belgium,Croatia,0,1,Friendly,False,Croatia,Away,False,True
2,2010-03-03,France,Spain,0,2,Friendly,False,Spain,Away,False,True
3,2010-03-03,Malta,Finland,1,2,Friendly,False,Finland,Away,False,True
4,2010-03-03,Poland,Bulgaria,2,0,Friendly,False,Poland,Home,True,False

In [8]:
rc["year_month"] = rc["date"].apply(lambda x: str(x.year) +"-"+ "{:02d}".format(x.month))
rc["games_played"] = 1

home = rc.groupby(["home_team", "year_month"]).sum().add_suffix('').reset_index()
away = rc.groupby(["away_team", "year_month"]).sum().add_suffix('').reset_index()
vict = rc.groupby(["winner", "year_month"]).sum().add_suffix('').reset_index()

comb = home.rename(columns={"home_team":"team"}).append(away.rename(columns={"away_team":"team"}))
comb

        team year_month  home_score  away_score  neutral  games_played
0    Austria    2010-03           2           1        0             1
1    Austria    2010-05           0           1        0             1
2    Austria    2010-11           1           2        0             1
3    Austria    2011-03           0           2        0             1
4    Austria    2011-06           4           3        0             2
..       ...        ...         ...         ...      ...           ...
601   Sweden    2019-11           0           2        0             1
602   Sweden    2020-10           5           1        0             2
603   Sweden    2020-11           6           2        0             2
604   Sweden    2021-06           0           0        0             1
605   Sweden    2021-09           2           1        0             1

[1196 rows x 6 columns]