### Football Data Aggregator
aggregates football results by 2 weeks, month, year

In [1]:
import pandas as pd
import numpy as np

In [12]:
rc = pd.read_csv('results_clean.csv', parse_dates=["date"])
rc.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner,winner_loc
0,2010-03-03,Austria,Denmark,2,1,Friendly,Vienna,Austria,False,Austria,Home
1,2010-03-03,Belgium,Croatia,0,1,Friendly,Brussels,Belgium,False,Croatia,Away
2,2010-03-03,France,Spain,0,2,Friendly,Saint-Denis,France,False,Spain,Away
3,2010-03-03,Malta,Finland,1,2,Friendly,Attard,Malta,False,Finland,Away
4,2010-03-03,Poland,Bulgaria,2,0,Friendly,Warsaw,Poland,False,Poland,Home

In [19]:
rc["hash"] = rc["date"].apply(lambda x: x.year*100 + x.month)

home = rc.groupby(["home_team", "hash"]).count()
away = rc.groupby(["away_team", "hash"]).count()
vict = rc.groupby(["winner", "hash"]).count()